.fc-cell-overlay, .fc-highlight {
	background: #e9a825;
	opacity: .8;
	filter: alpha(opacity=80);
}

.fc-view-container {
	background-color: #FFF;
}


.times {
	border-top: 1px solid #ccc;
	margin-top: 15px;
	line-height: 42px;

	.item {
		padding: 0 10px;
		display: block;
		opacity: 0.2;

		.time {
			color: #666;
		}

		&:nth-child(even) {
			background-color: #CCC;
		}

		&.availeble {
			opacity: 1;
		}

		&.selected {
			background-color: #e9a825;
			
			&:nth-child(even) {
				background-color: #e9a825;
			}
		}

		&:hover {
			text-decoration: none;

			.status {
				text-decoration: underline;	
			}
		}
	}
}

.form {
	margin-top: 15px;
	display: none;
}

.input.checkbox {
	@extend .form-control;

	padding: 0;
	margin-top: 25px;
	background-color: #EEE;
	height: 34px;
	line-height: 32px;




	label {
		padding-left: 10px;
	}

	input[type="checkbox"] {
		float: left;
		margin-top: 0px;
		display: inline-block;
		margin-left: 10px;
		width: auto;
	}
}