html {
	position: relative;
	min-height: 100%;
}

body {
	height: 100%;
	background-image: url('../img/pattern9.png');
	background-repeat: repeat;
}

.container {
	max-width: 1000px;
	background-color: #FFF;
	padding: 0;
}

h2 {
	margin: 15px 0;
}

#calendar {
	width: 100%;
	margin: 0 auto;
}

.footer {
	//background-color: #e9a825 !important;
	background-color: #333 !important;
	height: 43px;
	margin-top: 15px;
}

.footer-info {
	color: #FFF;
	font-size: 12px;
	line-height: 43px;
	padding: 0 20px;
	font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;


	a, span {
		color: #FFF;

	}
}

.fc-cell-overlay {
	background: #e9a825;
	opacity: .8;
	filter: alpha(opacity=80);
}

.choose-time-btn {

	margin-left: 10px;
	padding: 3px 10px;
}

.booking-container {
	img {
		width: 100%;
		margin-top: 15px;
	}
	
	.col-md-6 {
		margin-top: 15px;
		text-align: center;
	}
}