/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 
body {
	//background-color: #333;
	//color: #ddd;
	//font-family: Helvetica;
}

.preview-container {
	position: relative;
	width: 40%;
	float: left;
}

.header {
	font-size: 32px;
	text-align: center;
	padding: 40px;
	margin: 0px;
}

.phone  {
	padding: 160px 40px;
	padding-bottom: 30px;
	background-color: #666;
	border-radius: 100px;
	margin: auto;
	width: 720px;

	-webkit-transform: scale(0.5) translate(-100%, 0px);
	-webkit-transform-origin: top center;

	position: absolute;
	left: 50%;
}

.mobile-screen {
	width: 640px;
	min-height: 1020px;
	background-color: #fff;
	background-color: grey;
	overflow-x: hidden;
	overflow-y: scroll;

	background-image: url('../img/app-bg.jpg');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color: #ededed;
}

.m-btn {
	width: 120px;
	height: 120px;
	margin:  30px auto;
	margin-bottom:  0px;
	background-color: #222;
	border-radius: 100px;
}

b, strong {
	font-size: 30px;
	font-weight: bold;
}

.page {
	padding-top: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.wysiwyg-block {
	background-color: #fff;
	padding: 30px;
	margin-bottom: 30px;
	font-size: 30px;
	word-wrap: break-word;
	text-align: left;
	color: #000;

	.youtube-link {
		position: relative;
		display: inline-block;
	}

	blockquote {
		margin-top: 10px;
		margin-bottom: 10px;
		margin: 20px 30px;
		padding-left: 15px;
		border-left: 3px solid #ccc;
		text-align: left;
	}

	h1, .article-header, b.article-header {
		font-size: 50px;
		line-height: 65px;
		font-weight: bold;
		text-align: left;
		padding: 0;
		padding-bottom: 0px;
		padding-top: 0px;
		margin: 0;
	}

	h2 {
		font-size: 40px;
		text-align: left;
		font-weight: bold;
	}

	h3 {
		font-size: 32px;
		text-align: left;
		font-weight: normal;
		line-height: 45px;
	}

	b, p {
		margin-bottom: 20px;
		word-wrap: break-word;
		max-width: 500px;
	}

	a {
		word-wrap: break-word;
		max-width: 500px;
		color: #32ccfe;
	}

	ul, ol {
		list-style-type: disc;
		margin-left: 60px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	ol {
		list-style-type: decimal;
	}

	i, em {
		font-style: italic; 
	}
}